<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tic Tac Toe - GameHub</title>
  <link rel="stylesheet" href="/css/ticTacToe.css">
</head>
<body>
<%- include('partials/header', { user: user }) %>

<div class="main">
  <h2>Tic Tac Toe - GameHub</h2>

  <div class="cards">
    <div class="card">
      <h3>Play vs Computer</h3>
      <p>Challenge the AI and improve your skills!</p>
      <a href="/tic-tac-toe/computer">Play Now</a>
    </div>

    <div class="card">
      <h3>Play 1v1</h3>
      <p>Play offline with your friend.</p>
      <a href="/tic-tac-toe/self">Play 1 vs 1</a>
    </div>



    <!-- Online 1v1 -->
    <div class="card">
      <h3>Play Online 1v1</h3>
      <p>Connect with other players in real-time matches.</p>
      <a href="/tic-tac-toe/online">Play Online</a>
    </div>

  </div>
</div>
</body>
</html>
